<div class="wrapper">
  <div class="row">
    <div class="navbar">
      <div class="navbar-item">Retour à l'accueil</div>
      <div class="navbar-item">Le Radeau
        <%= link_to "", "radeau.html", class: "card-link" %></div>
      <div class="navbar-item">la Californie
        <%= link_to "", "californie.html", class: "card-link" %></div>
    </div>
  </div>
  <div class="row">
    <div class="content"></div>
  </div>
</div>
