<div class="wrapper">
  <div class="navbar">
    <div class="navbar-item">Retour à l'accueil</div>
    <div class="navbar-item">
      <%= link_to "Le Radeau", "radeau.html", class: "card-link" %>
    </div>
    <div class="navbar-item">
      <%= link_to "L'autostop", "autostop.html", class: "card-link" %>
    </div>
  </div>
  <div class="content"> Jack</div>
</div>
