
<div class="wrapper">
  <div class="navbar">
    <div class="navbar-item">Retour à l'accueil</div>
    <div class="navbar-item">L'autostop
      <%= link_to "", "autostop.html", class: "card-link" %>

    </div>
    <div class="navbar-item">La Californie
      <%= link_to "", "californie.html", class: "card-link" %></div>
  </div>
  <div class="content"></div>
</div>
